* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: #323232;
    border: none;
}

input, label {
    display: block;
    outline: none;
    width: 100%;
}

a {
    color: purple;
}

body {
    padding-top: 5vh; 
    background-image: url('https://images.unsplash.com/photo-1489824904134-891ab64532f1?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2089&q=80');
    background-size: cover;
    background-position-y: -150px;
}

#container {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    border-radius: 10px;
    padding: 25px;
}

#container h1 {
    text-align: center;
    margin-bottom: 25px;
    font-size: 1.6rem;
}

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.full-box {
    flex: 1 1 100%;
    position: relative;
}

.half-box {
 flex: 1 1 45%;
 position: relative;
}

.spacing {
    margin-right: 2.5%;
}

label {
    font-weight: bold;
    font-size: .8rem;
}

input {
    border-bottom: 2px solid #323232;
    padding: 10px;
    font-size: .9rem;
    margin-bottom: 40px;
}

input:focus {
    border-color: #5ba5c2;
}

input[type="submit"] {
    background-color: #5ba5c2;
    color: #FFF;
    border: none;
    border-radius: 20px;
    height: 40px;
    cursor: pointer;
}

#agreement {
    margin-right: 5px;
}

#agreement, #agreement-label {
    display: inline-block;
    width: auto;
}

/* validation */

.error-validation{
    border: 1px solid #e2193a;
    border-radius: 4px;
}

.template {
    display: none;
}
footer { 
    color: white;
    text-align: center;
}